<div class="block-group">
    {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Group",
  "blocks": [
    {
      "type": "@theme",
    }
  ],
  "presets": [
    {
      "name": "Group",
      "category": "Layout"
    }
  ]
}
{% endschema %}